
<div class="mt-3 mx-5 mb-2">
  <button class="btn btn-block bg-dark" style="color: white" (click)="ObtenerArray()">Obtener Datos</button>
</div>

<div class="my-3 mx-3">
  <input type="text"  value="{{valor}}" class="form-control" placeholder="Datos ordenados" > 
</div>
<div *ngIf="loading" class="loader-wrapper" style="margin-top: 165px">
  <div class="loader"></div>
</div>

<table *ngIf="arrayFinal != ''" class="table table-dark">
    <thead>
      <tr>
        <th scope="col"># Indice</th>
        <th scope="col">Number</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Primer valor de array</th>
        <th scope="col">Ultimo valor de array</th>
    
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arrayFinal ; let i =index ; let primero = first;let ultimo = last;">
        <th [ngClass]="{'verde':item.cantidad>=2, 'amarillo':item.cantidad==1, 'gris': item.cantidad<1}">{{i+1}}</th>
        <td [ngClass]="{'verde':item.cantidad>=2, 'amarillo':item.cantidad==1, 'gris': item.cantidad<1}">{{item.numero}} </td>
        <td [ngClass]="{'verde':item.cantidad>=2, 'amarillo':item.cantidad==1, 'gris': item.cantidad<1}">{{item.cantidad}}</td>
        <td  [ngClass]="{'verde':item.cantidad>=2, 'amarillo':item.cantidad==1, 'gris': item.cantidad<1}">{{primero}}</td>
        <td [ngClass]="{'verde':item.cantidad>=2, 'amarillo':item.cantidad==1, 'gris': item.cantidad<1}">{{ultimo}}</td>
      </tr>
     
    </tbody>
  </table>

  