<div *ngIf="UltimoArray == ''" class="loader-wrapper" style="margin-top: 70px;">
    <div class="loader"></div>
  </div>
<table *ngIf="UltimoArray != ''"  class="table table-dark">
    <thead>
      <tr>
        <th scope="col"># Indice</th>
        <th scope="col">a</th>
        <th scope="col">b</th>
        <th scope="col">c</th>
        <th scope="col">d</th>
        <th scope="col">e</th>
        <th scope="col">f</th>
        <th scope="col">g</th>
        <th scope="col">h</th>
        <th scope="col">i</th>
        <th scope="col">j</th>
        <th scope="col">k</th>
        <th scope="col">l</th>
        <th scope="col">m</th>
        <th scope="col">n</th>
        <th scope="col">o</th>
        <th scope="col">p</th>
        <th scope="col">q</th>
        <th scope="col">r</th>
        <th scope="col">s</th>
        <th scope="col">t</th>
        <th scope="col">u</th>
        <th scope="col">v</th>
        <th scope="col">w</th>
        <th scope="col">x</th>
        <th scope="col">y</th>
        <th scope="col">z</th>
        <th scope="col">Suma numericos contenidos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of UltimoArray; let i =index">
        <th >{{i+1}}</th>
        <td>{{item.a || "0" }}</td>
        <td>{{item.b || "0"}}</td>
        <td>{{item.c || "0"}}</td>
        <td>{{item.d || "0"}}</td>
        <td>{{item.e || "0"}}</td>
        <td>{{item.f || "0"}}</td>
        <td>{{item.g || "0"}}</td>
        <td>{{item.h || "0"}}</td>
        <td>{{item.i || "0"}}</td>
        <td>{{item.j || "0"}}</td>
        <td>{{item.k || "0"}}</td>
        <td>{{item.l || "0"}}</td>
        <td>{{item.m || "0"}}</td>
        <td>{{item.n || "0"}}</td>
        <td>{{item.o || "0"}}</td>
        <td>{{item.p || "0"}}</td>
        <td>{{item.q || "0"}}</td>
        <td>{{item.r || "0"}}</td>
        <td>{{item.s || "0"}}</td>
        <td>{{item.t || "0"}}</td>
        <td>{{item.u || "0"}}</td>
        <td>{{item.v || "0"}}</td>
        <td>{{item.w || "0"}}</td>
        <td>{{item.x || "0"}}</td>
        <td>{{item.y || "0"}}</td>
        <td>{{item.z || "0"}}</td>
        <td class="pl-5" >{{item.suma}}</td>
      </tr>
     
    </tbody>
  </table>